body{
  background-color:lightgreen;
}

#chicken-div, #beef-div, #sushi-div {
  border : solid;
  margin: 20px 20px 5px 20px;
  padding: 10px 20px 10px 20px;
  text-align: justify;
  box-shadow: 10px 10px;

}

#chicken, #beef, #sushi {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 5px 10px 5px ;
  text-shadow: 1px 1px 10px darkblue;
}
